@import url("960/960.css");
/* http://www.levien.com/type/myfonts/inconsolata.html */
@font-face {
  font-family: "inconsolata";
  src: url("../fonts/Inconsolata.otf"); }

@font-face {
  font-family: "droid sans";
  src: url("../fonts/DroidSans.ttf"); }

@font-face {
  font-family: "droid sans bold";
  src: url("../fonts/DroidSans-Bold.ttf"); }

body {
  margin: 0;
  color: #333333;
  background-color: #003366;
  font-family: helvetica, arial, sans-serif;
  font-size: 87.5%;
  /* 16px * 0.875 = 14px */
  line-height: 137.5%;
  /* 16px * 1.375  = 22px */ }

a {
  text-decoration: none;
  border-bottom: solid 1px #3030a2; }
  a:hover {
    text-decoration: none;
    border-bottom: 0; }
  a:visited {
    color: black;
    border-bottom: solid 1px #cccccc; }

h1, h2, h3, h4, h5, h6 {
  color: black; }

h1, h2, h3 {
  font-family: "droid sans", helvetica, arial, sans-serif; }

h4, h5, h6 {
  font-family: "droid sans bold", helvetica, arial, sans-serif; }

h1 {
  font-size: 150.0%; }

h2 {
  font-size: 137.5%; }

h3 {
  font-size: 125.0%; }

h4 {
  font-size: 112.5%; }

h5, h6 {
  font-size: 100%; }

pre, code {
  font-family: "inconsolata", monospace;
  /* font-size: 1.142em; */ }

.noul {
  border-bottom: 0;
  text-decoration: none; }

header, footer {
  display: block; }

header {
  height: 2em;
  font-size: 1.5em;
  padding: 0.3em 0; }
  header h1 {
    margin: 0;
    line-height: 1.5em; }
    header h1 a, header h1 a:visited {
      color: white;
      text-decoration: none;
      border-bottom: none; }

.contentwrap {
  background-color: #f8f8f8;
  padding: 1.2em 0; }

footer {
  margin-top: 1em; }

ul.posts {
  list-style-type: none; }
