@import url("960/960_24_col.css");

$body-color: #333;
$link-color: #0085BD;
$link-hover: #F78F1E;
$font-color: #000;
$header-color: #FFF;
$summary-color: #9AAAC1;
$summary-link-color: #FFF;
$bg-color: #036;
$content-bg: #F8F8F8;
$intro-color: #737373;

body {
  margin: 0;
  color:$body-color;
  background-color: $bg-color;
  font-family: helvetica, arial, sans-serif;
  font-size:87.5%;   /* 16px * 0.875 = 14px */
  line-height: 137.5%; /* 16px * 1.375  = 22px */
}

@mixin standard-links {
    a {
      text-decoration: none;

      &:link, &:visited {
        color: $link-color;
      }

      &:hover {
        color: $link-hover;
      }
  }
}

@include standard-links;

h1, h2, h3, h4, h5, h6
{
  color: $font-color;
}
h1, h2, h3
{
  font-family: "Droid Sans", helvetica, arial, sans-serif;
  font-weight: normal;
}

h4, h5, h6
{
  font-family: "Droid Sans", helvetica, arial, sans-serif;
  font-weight: bold;
}

h1
{
  font-size: 150.0%;
}
h2
{
  font-size:  137.5%;
}
h3
{
  font-size: 125.0%;
}
h4
{
  font-size: 112.5%;
}
h5, h6{
  font-size: 100%;
}

h2#intro {
  color: $intro-color;
  margin-top: 0.5em;
}

pre,code
{
    font-family: "Inconsolata", monospace;
    /* font-size: 1.142em; */
}

.noul
{
  border-bottom: 0;
  text-decoration: none;
}

header, footer
{
  display: block;
}


@mixin blue-links {
  color: $summary-color;

  & a, & a:link, & a:visited {
    color: $summary-link-color;
    border-bottom: 1px dotted $summary-link-color;
  }

  & a:hover {
    border-bottom-style: none;
  }
}

header {
  height: 3em;
  font-size: 1.5em;
  padding: 0.3em 0;

  & h1{
    margin: 0;
    line-height: 2em;
    & a, & a:link, & a:visited {
        color:$header-color;
        text-decoration: none;
        border-bottom: none;
    }
  }

  & #summary {
    font-size: 0.7em;
    @include blue-links;
  }
}

.contentwrap {
  background-color: $content-bg;
  padding: 0.5em 0;
}

footer{
  margin: 0;
  padding: 1em 0;
  text-align: center;
  font-size: 0.8em;

  @include blue-links;

  p {
    margin: 0;
    line-height: 1.2em;
  }

}

ul.posts {
  list-style-type: none;
}

.post {
  border-bottom: 1px solid $intro-color;

  &:last-child {
    border-bottom: 0;
  }

  .post_meta {
    text-align: right;
  }

  .imgright {
      float: right;
      margin: 0 0 5px 5px;
  }

  .imgcenter {
      display: block;
      margin: 0 auto;
  }

  img {
    display: block;
    max-width: 100% !important;
    max-height: 500px;
    height: auto !important;
    width: auto !important;
    margin: 0 auto;
    padding: 0.6em 0
  }

  a img {
    border: none;
  }

}

@import "resume";

@import "projects";
