<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>{% if page.title %} {{ page.title }} | {% endif %} {{ site.title }}</title>
  <!--[if lt IE 9]>
    <script src="/media/js/html5.js" />
  <![endif]-->
  <meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
  <meta content="en-us" http-equiv="Content-Language" />
  <meta content="The online home of Chris Kelly" name="description" />
  <link rel="shortcut icon" type="image/x-icon" href="/media/images/favicon.ico" />
  <link rel="apple-touch-icon" href="/media/images/apple-touch-icon.png">
  
  <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Droid+Sans:regular,bold|Inconsolata">
  
  <link rel="stylesheet" type="text/css" media="screen, projection" charset="utf-8" href="/media/css/screen.css?i=08262011" />
  <link rel="stylesheet" type="text/css" media="screen, projection" charset="utf-8" href="/media/css/pygments.css" />
  <link rel="alternate" type="application/atom+xml" title="ckelly.net - Journal Feed" href="http://feeds.feedburner.com/CkellyDotNetJournal" />

{% include analytics.html %}
</head>
<body{% if page.section %} id="{{ page.section }}"{% endif %}>
<div id="wrap">

<header class="container_24">
  <div class="grid_5 prefix_2">
  <h1 id="title"><a href="/">{{site.title}}</a></h1>
  </div>
  <div id="summary" class="grid_14 suffix_2">
    ... is the online home of <a href="/">Chris Kelly</a>. You can read more <a href="/about/">about me and the site here</a>. You can also <a href="/journal/archives/">browse the archives</a>, find out about some <a href="/projects/">projects I've worked on</a>, view <a href="/resume/">my resume</a>, and <a href="mailto:contact@ckelly.net">email me for more information</a>. 
  </div>
</header>

<div class="contentwrap">
<div class="container_24">
<section class="grid_20 prefix_2 suffix_2">
{{ content }}
</section>
<div class="clear"></div>
</div>
</div>

<div class="footerwrap container_24">
<footer class="grid_20 prefix_2 suffix_2">
    <p>Copyright &#169; 2001-2011 Chris Kelly.</p> 
    <p>Powered by <a href="http://pages.github.com/">GitHib Pages</a>.</p> 
    <p><a href="http://feeds.feedburner.com/CkellyDotNetJournal" title="Journal feed">Journal Feed</a></p>
</footer>
</div>

</div>
</body>
</html>