<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>{% if page.title %} {{ page.title }} | {% endif %} {{ site.title }}</title>
  <!--[if IE]>
    <script src="/js/html5.js" />
  <![endif]-->
  <meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
  <meta content="en-us" http-equiv="Content-Language" />
  <meta content="The online home of Chris Kelly" name="description" />
  <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico" />
  <link rel="stylesheet" type="text/css" media="screen, projection" charset="utf-8" href="/media/css/screen.css" />
  <link rel="stylesheet" type="text/css" media="screen, projection" charset="utf-8" href="/media/css/pygments.css" />
  <link rel="alternate" type="application/atom+xml" title="RSS" href="/atom.xml" />
  <!--<link rel="alternate" type="application/atom+xml" title="ckelly.net - Atom" href="http://feeds2.feedburner.com/ckellydotnet" />-->

{% include analytics.html %}
</head>
<body>
<div id="wrap">

<div class="headerwrap">
<header class="container_12">
  <div class="grid_3 alpha">
  <h1 id="title"><a href="{{site.url}}">{{site.title}}</a></h1>
  </div>
  <div id="summary" class="grid_9 omega">
    ... is the online home of <a href="{{site.url}}">Chris Kelly</a>. You can read more <a href="/about.html">about me and the site here</a>. You can also <a href="/archives.html">browse the archives</a>, find out about some <a href="/projects.html">projects I've worked on</a>, view <a href="/resume.html">my resume</a>, and <a href="/contact.html">contact me for more information</a>. 
  </div>
</header>
</div>

<div class="contentwrap">
<div class="container_12">
<section class="grid_10 alpha omega">
{{ content }}
</section>
<div class="clear"></div>
</div>
</div>

<div class="footerwrap">
<footer class="container_12">
</footer>
</div>

</div>
</body>
</html>